/* Header */

div#header {
/* 	background: url("../images/header-bg.png") repeat-x top transparent; */
	position: fixed;
	top: 0px;
	width: 100%;
	height: 100px;
	z-index: 1020;
}

div#header-img-container /*,  */ {
	background: transparent;
	z-index: 1040;
	padding-left: 30px;
}

img#header-img {
	position: fixed;
	top: 12px;
/* 	height: 100px; */
	z-index: 1040;
}

/* Navigation Bar */

div#navbar {
	top: 100px;
	height: 50px;
	min-height: 50px;
	margin-bottom: 0px;
	background: url("../images/navbar-bg.png") repeat-x top #003900;
}

div#navbar-container {
	background: url("../images/navbar-bg.png") repeat-x top #003900;
}

a#navbar-brand {
	margin-right: 20px;
	font-family: 'Droid Serif', serif;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	color: white;
	padding: 10px;
	line-height: 30px;
}

div#navbar-collapse {
	border: 0;
}

ul#navbar-collapse-menu.nav.navbar-nav {
	margin-top: 0px;
	padding-top: 0px;
}

li.active.navitem {
	background-color: #003500;
	margin-top: 0px;
	padding: 4px;
}

ul.navbar-nav>li.active.navitem>a, ul.navbar-nav>li.active.navitem>a:HOVER {
	border: 0.5px solid white; /*#006400;*/
	background-color: #003500;
	background: url("../images/active-navitem-bg.png") top repeat-x;
	color: white;
	margin-top: 0px;
	
}

ul.navbar-nav>li.active.navitem>a:HOVER {
	color: #e1e1e1;
}

.navbar-inverse .navbar-nav>li>a {
	color: #eeeeee;
}

li.navitem {
	margin: 0px 5px 0px 5px;
	border: none;
}

li.navitem>a {
	border: 0.8px solid white;
	background-color: #003900;
	background: url("../images/navitem-bg.png") repeat-x top;
	margin-top: 4px;
	padding: 10px;
	color: white;
	font: normal sans-serif 16px;
	
}

/* li.navitem>a>img { */
/* 	margin-right: 10px; */
/* } */

li.navitem>a>span, ul.navbar-nav>li.active.navitem>a>span {
	color: white;
	font-size: 20px;
	font-weight: bold;
	vertical-align: top;
	margin-right: 10px;
}

li.navitem>a>span {
/* 	color: #e1e1e1; */
}

ul.navbar-nav>li.active.navitem>a:HOVER>span {
	color: #e1e1e1;
}

div#navbar-downer-shadow, div.navbar-downer-shadow {
	position: fixed;
	top: 80px;
	height: 10px;
	width: 100%;	
	background: transparent url("../images/downer-shadow.png") repeat-x top;
}

div#navbar-downer-shadow {
	margin: 70px 0 0 0;
}

div.navbar-downer-shadow {
	margin: 0;
}

/* Content */

div#content.container {
	margin-top: 130px;
	padding: 10px;
	background: url("../images/downer-shadow.png") repeat-x top;
	text-align: left;
}

/* Footer */

div#footer {
	position: fixed;absolute;
	bottom: 0px;
	
	width: 100%;
	height: 50px;
	padding: 15px 0px;
	
	background: #003900 url("../images/navbar-bg.png") repeat-x top;
	
	text-align: center;
}

div#footer>div.container>p {
	margin: 0px;
	color: white;
}

/* Index */

div.item-container {
	margin-bottom: 10px;
	background: #003900 url("../images/navbar-bg.png") repeat-x top;
}

div.col-item-key {
	padding-right: 0px;
}

div.col-item-value {
	padding-left: 0px;
}

div.item-key, div.item-value {
	margin: 10px 10px 10px 10px;
	min-height: 100px;
	padding: 10px;	
	background: white;
}

div.item-meta-values {
	margin: 10px;
	margin-bottom: 0px;
	background: transparent;
	color: white;
}
