/* Headings */

h1, h2, h3, h4, h5, h6, h7 {
	color: #003900;
	font-family: 'Droid Serif', serif;
}

h1 {
	font-size: 1.5em;
}

div.h1-glyphicon {
	padding-right: 0;
}

h1>span.glyphicon {
	font-size: 1.5em;	
/* 	margin-right: 15px; */
	padding-right: 35px;
}

h2 {
	font-size: 1.2em;
}

h3 {
	font-size: 1.0em;
}

/* Tables */

table {
	table-layout: fixed;
}

table tr td.col0 {
	padding-right: 20px;
}


/* Header */

div#header {
/* 	background: url("../images/header-bg.png") repeat-x top transparent; */
	position: fixed;
	top: 0px;
	width: 100%;
	height: 100px;
	z-index: 1020;
}

div#header-img-container ,  {
	background: transparent;
	z-index: 1040;
	padding-left: 100px;
}

img#header-img {
	position: fixed;
	top: 12px;
	z-index: 1040;
}

img#header-img-1 {
	position: fixed;
	top: 11px;
	height: 90px;
	z-index: 1010;
}

img#logo {
	height: 30px;
}

/* Navigation Bar */

div#navbar {
	/* height: 50px; */
	min-height: 50px;
	min-width: 350px;
	margin-bottom: 0px;
	background: url("../images/navbar-bg.png") repeat-x top #003900;
}

div#navbar-container {
	background: url("../images/navbar-bg.png") repeat-x top #003900;
}

a#navbar-brand {
	
	font-family: 'Droid Serif', serif;
	font-size: 18px;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	color: white;
	
	margin: 4px 5px 0px 0px;
	background: url("../images/logo.png") left no-repeat transparent;
	padding: 5px;
	padding-left: 50px;
	line-height: 30px;
}

div#navbar-collapse {
	border: 0;
}

ul#navbar-collapse-menu.nav.navbar-nav {
	margin-top: 0px;
	padding-top: 1px;
	vertical-align: bottom;
}

li.active.navitem {
	background-color: #003500;
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 4px;
}

ul.navbar-nav>li.active.navitem>a, ul.navbar-nav>li.active.navitem>a:HOVER {
	margin-top: 0px;
	
	background-color: #003500;
	background: url("../images/active-navitem-bg.png") top repeat-x;
	
	color: white;
	font-style: oblique;
}

ul.navbar-nav>li.active.navitem>a:HOVER {
	color: #e1e1e1;
}

.navbar-inverse .navbar-nav>li>a {
	color: #eeeeee;
}

li.navitem {
	margin: 0 10px 0 10px;
	border: none;
}

li.navitem>a {
	background-color: transparent;
	margin-top: 4px;
	height: 40px;
	padding: 8px 10px;
	color: white;
	font: normal sans-serif 16px;
	text-align: left;
}

li.navitem>a:HOVER {
	background: url("../images/navitem-bg.png") repeat-x top;
}

li.navitem>a>span, ul.navbar-nav>li.active.navitem>a>span {
	color: white;
	font-size: 11pt;
	vertical-align: middle;
	margin: 0 15px;
}

li.navitem>a>span.glyphicon, ul.navbar-nav>li.active.navitem>a>span.glyphicon {
	padding-top: 2px;
	font-size: 17pt;
	font-weight: bold;
}

li.navitem>a>span.nav-text  {
	padding: 3px 5px;
	vertical-align: middle;
}

ul.navbar-nav>li.active.navitem>a:HOVER>span {
	color: #e1e1e1;
}

div#navbar-downer-shadow, div.navbar-downer-shadow {
	position: fixed;
	top: 50px;
	height: 10px;
	width: 100%;	
	background: transparent url("../images/downer-shadow.png") repeat-x top;
}

div#navbar-downer-shadow {
}

div.navbar-downer-shadow {
	margin: 0;
}

/* Content */

div#content.container {
	margin-top: 50px;
	padding: 10px;
	text-align: left;
}

/* Footer */

div#footer {
	position: fixed;
	bottom: 0px;
	
	width: 100%;
	height: 50px;
	padding: 15px 0px;
	
	background: #003900 url("../images/navbar-bg.png") repeat-x top;
	
	text-align: center;
}

div#footer>div.container>p {
	margin: 0px;
	color: white;
}


