@(portfolio:Seq[ProductLine])(implicit request:play.api.mvc.Request[play.api.mvc.AnyContent])

@import play.api.templates._
@import play.api.mvc._
@import scala.xml.Elem
@import controllers.AssetUtil
@import models.Product._

@main(1, "Sortiment")() {
	
	<div class="row">
	  	<div class="h1-glyphicon col-lg-2 visible-lg">
	  		<h1><span class="glyphicon glyphicon-shopping-cart img-thumbnail  pull-right"></span></h1>
	  	</div>
	  	<div class="col-lg-8">
	
			<h1>Unser Sortiment</h1>
			
			<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua...</p>
			
			@portfolio.map[Html, Seq[Html]](productLine(_))
	
		</div>
	  	<div class="col-lg-2"></div>
	</div>
	
}