@()(implicit request:play.api.mvc.Request[play.api.mvc.AnyContent])

@import play.api.templates.Html
@import play.api.mvc._

@main(1, "Sortiment")() {
	
	Sortiment
	
braune und weiße Eier aus Bodenhaltung
Hausmacher  Eier -, Mokka - und Schokolikör
Hausmacher Frischeinudeln in verschiedenen Ausformungen
Glutenfreie Nudeln
Dinkelnudeln
Frischeibandnudeln in den Geschmacksrichtungen:
                             Knoblauch, Steinpilz, Ingwer, Tomate.Basilikum, Spinat,
                             Bärlauch, Chili,  Basilikum und Kartoffelnudeln
Suppeneinlagen
Nudeleimer, Puppen, Sträuße
Dinkelkekse & Waffeln
Freßsäcke  ( Gefüllt mit Produkten aus unserem Sortiment  )
Präsentkörbe
Deko & Geschenkartikel ( Keramik, Kerzen, Servietten u.v.m. )
Honig vom Imker
Futtermittel für Hühner, Hund, Katze, Kaninchen, Taube u.v.m.
	
}