@(implicit request: play.api.mvc.Request[play.api.mvc.AnyContent])

@main(2, "Öffnungszeiten")() {
	  
  	<h1>Unsere Öffnungszeiten</h1>
  	
  	<p>
  	Unser Geflügelhof ist für Sie von Montag bis Samstag zu folgenden Zeiten geöffnet:
	</p>
	
 	<table>
		<tr>
		    <td class="col0">Mo – Fr</td>
			<td class="col1">6:00 – 15:00 Uhr</td>		    
		</tr>
		<tr>
			<td class="col0">Do</td>
		  	<td class="col1">6:00 – 17:00 Uhr</td>
		</tr>
		<tr>
			<td class="col0">Sa</td>
			<td class="col1">6.30 – 10:00 Uhr</td>
		</tr>
	</table>      
	
}