@(implicit request: play.api.mvc.Request[play.api.mvc.AnyContent])

@main(2, "Öffnungszeiten")() {
	
	<div class="row">
	  	<div class="h1-glyphicon col-lg-2 visible-lg">
	  		<h1><span class="glyphicon glyphicon-time img-thumbnail  pull-right"></span></h1>
	  	</div>
	  	<div class="col-lg-8">
	  
		  	<h1>Unsere Öffnungszeiten</h1>
		  	
		  	<p>
		  	Unser Geflügelhof ist für Sie von Montag bis Samstag zu folgenden Zeiten geöffnet:
			</p>
			
		 	<table>
				<tr>
				    <td class="col0"><strong>Mo – Fr</strong></td>
					<td class="col1">6:00 – 15:00 Uhr</td>		    
				</tr>
				<tr>
					<td class="col0"><strong>Do</strong></td>
				  	<td class="col1">6:00 – 17:00 Uhr</td>
				</tr>
				<tr>
					<td class="col0"><strong>Sa</strong></td>
					<td class="col1">6.30 – 10:00 Uhr</td>
				</tr>
			</table>
			
		</div>
	  	<div class="col-lg-2"></div>
	</div>   
	
}